body {
  background: rgb(58,58,58);
  color: white;
  font-family: Helvetica-neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  padding: 20px;
  font-size: 2em;
}

section {
  background: white;
  color: gray;
  padding: 10px;
  display:flex;
  flex-direction: row;
}

footer {
  background: black;
  padding: 10px 20px;
}
ul {  
  list-style-type:none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 30px;
}
.NameOfPage{
  font-size: 2em
}
.Info1 {
  background-color:rgb(92, 86, 86);
  margin: 20px;
  padding:200px;
}
.Info2 {
  background-color:rgb(92, 86, 86);
  margin: 20px;
  padding:200px;
}
li {
  display: inline-block;
  background-color: gray;
  border-radius: 2px;
  padding: 5px;
  text-decoration: none;
}
a:Hover{
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: black;
}
